/******************************************************************GENERAL*********************************************************************************/

body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body a, h1,h2,h3,h4,h5,h6{
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3{
    font-size: 2.5em;
    margin-bottom: 5%;
}



/***************************************************************HEADER*********************************************************************************/

.headers h3{
   font-size: 1em;
    border: 3px solid black;
    padding: 1% 19%;
    border-radius: 6px;
    width: 131%;
    /* margin: 5% 48%; */
    margin-left: 164%;
    text-align: center;
}
.top-bar-right a{
        color: black;
    
}
.top-bar-right{
    margin-right:10%;
}
.hero{
    height: 68%;
    background-image: url(assets/bgimages/hero_img.jpg);
    background-size: 100% 100%;
    color: white;
    text-align: center;
} 
 .slogan{
    padding-top: 10%;
}

.hero h2{
    font-size: 3.5em;
    line-height: 1.3;
}
.hero span{
    text-transform:uppercase;
    color: #66ffff;
}
.hero h5{
    font-size: 1.5em;
}
.learn{
    background-color: transparent;
    border: 2px solid white;
}



/***************************************************************ABOUT US*********************************************************************************/

.aboutus{
    height: 90%;
background-color: white;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
        padding-bottom: 10%;
        
}
.aboutus h3{
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}

.logos{
    margin-top: 8%;
}
.logos img{
    border-radius: 50%;
    border:none;
}

.logos span{
    font-weight: 500;
    color: black;
}





