/******************************************************************GENERAL*********************************************************************************/

body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body a, h1,h2,h3,h4,h5,h6{
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3{
    font-size: 2.5em;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-weight: 500;
}



/***************************************************************HEADER*********************************************************************************/

.headers h3{
   font-size: 1em;
    border: 3px solid black;
    padding: 1% 19%;
    border-radius: 6px;
    width: 131%;
    /* margin: 5% 48%; */
    margin-left: 164%;
    text-align: center;
}
.top-bar-right a{
        color: black;
    
}
.top-bar-right{
    margin-right:10%;
}
.hero{
/*    height: 68%;*/
    background-image: url(assets/bgimages/hero_img.jpg);
    background-size: 100% 100%;
    color: white;
    text-align: center;
} 
 .slogan{
    padding-top: 10%;
}

.hero h2{
    font-size: 3.5em;
    line-height: 1.3;
}
.hero span{
    text-transform:uppercase;
    color: #66ffff;
}
.hero h5{
    font-size: 1.5em;
}
.learn{
    background-color: transparent;
    border: 2px solid white;
}



/*****************************************************ABOUT..US*****************************************************************************/

.aboutus{
/*    height: 90%;*/
background-color: white;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
        padding-bottom: 10%;
        
}
.aboutus h3{
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}

.logos{
    margin-top: 8%;
}
.logos img{
    border-radius: 50%;
    border:none;
}

.logos span{
    font-weight: 500;
    color: black;
}

/*****************************************************WHAT.WE.D0*****************************************************************************/

.what-we-do{
/*    height:90%;*/
    background-color: aqua;
    background-image: url(assets/bgimages/what_we_do_bg.jpg);
    background-size:100% 100%;
    text-align: center;
}
.what-we-do h3{
    color: white;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 2%;

}
hr{
    width: 5%;
    margin-bottom: 0;
    margin-top: 1%;
}
.we-do{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-bottom: 2%;
    
}
.we-do img{
    border-bottom-left-radius: 45%;
    border: none;
}
.we-do span{
    font-weight: 500;
    color: white;
}


/**************************************************PRODUCT.CREATION**************************************************************/


.product-creation{
    background-image: url(assets/bgimages/we_are_making_products.jpg);
    background-size: 100% 100%;
    height: auto;
    text-align: center;
    padding-bottom: 5%;
   
    
}

.product-creation h3{
    padding-top: 7%;
    font-weight: 400;
    color: black;
    text-align: left;
    margin-left: 10%;
    line-height: 1;
    
}
.product-creation a{
    margin-top: 2%;
/*    margin-left: -69%;*/
    background-color: black;
    margin-right:  70%;
   
}
.product-creation p{
    color: black;
    margin-left: 10%;
    text-align: left;
    margin-right: 10%;
}




/***********************************************************PRORTFOLIO**************************************************************/

.portfolio{
    background-color: white;
    text-align: center;
    padding-bottom: 5%;
   
}
.portfolio h3{
    color: black;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 2%;

}
.portfolio p{
     padding-left: 10%;
    padding-right: 10%;
}



/***********************************************************QUOTE**************************************************************/


.quote{
    background-image: url(assets/bgimages/bg_quote.jpg);
    background-size: 100% 100%;
}

















